body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

/* this is for unvisited links */
a {  
  text-decoration-line: none;
  color: white;
}

/* this is for visited links */
a:visited { 
  color: white;
  text-decoration-line: none;
}

/* Components each have a unique ID with the component name as the ID name */

#navBar {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: hsl(220, 13%, 15%);
}

#App-body {
  padding: 20px;
  font-size: 15px;
  color: white;
  /* text-align: center; */
}

#goalPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

#logPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

#trackingPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

#goalList {
  margin: 10px;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  color: aqua;
  width: 300px;
}

#goalItem:hover {
  cursor: pointer;
  background-color: rgba(169, 169, 169, 0.13);
}

#goalAdd {
  margin: 10px;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  color: aqua;
  font-size: 15px;
  width: 300px;
}

#logAdd {
  margin: 10px;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  color: aqua;
  font-size: 15px;
  width: 300px;
}

#trackingList {
  margin: 10px;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  color: aqua;
  width: 300px;
}

#trackBar {
  margin: 10px;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  color: aqua;
  width: 640px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

#trackDay {
  padding: 0px 5px;
  height: 40px;
  font-size: x-small;
}

#gaugedaypurple {
  background-color: rgb(255, 0, 136);
  height: 20px;
  width: auto;
}

#gaugedayblue {
  background-color: blue;
  height: 20px;
  width: auto;
}

form {
  display: flex;
  flex-direction: column;
  
}

input, select {
  
}

h2 {
  margin: 5px 0px 10px;
}

h3 {
  margin: 5px 0px ;
}

p {
  margin: 2px;
}